{% extends "base.html" %}

{% block title %}
ReviewVie - All Movies
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center pt-3 fw-bold">All Movies</h1>
    <div class="row">
        <!-- Search form -->
        <form action="{% url 'search-result' %}" method="GET" class="text-center pb-3">
            {% csrf_token %}
            <input type="text" name="q" placeholder="Search Movies" class="search-bar me-2">
            <button type="submit" class="btn btn-dark">Search</button>
        </form>
    </div>
    <div class="row">
        <!-- Movie List -->
    {% for movie in movies %}
    <div class="col-md-6 col-6 col-lg-3">
        <div class="card text-center">
            <a href="#">
                <img src="{{ movie.image.url }}" alt="{{ movie.name }}" class="movie-img">
            </a>
            <h4 class="text-center">{{ movie.name }}</h4>
            </p>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}