{% extends "base.html" %}

{% block title %}
ReviewVie - All Movies
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center pt-3 fw-bold">All Movies</h1>
    <div class="row pb-3">
        <!-- Search form -->
        <form action="{% url 'search-result' %}" method="GET" class="text-center">
            <input type="text" name="search" placeholder="Search Movies/Director/Genre" class="search-bar me-2">
            <button type="submit" class="btn btn-dark">Search</button>
        </form>
    </div>
    <div class="row">
        <!-- Movie List -->
        {% if movies.count == 0%}
        <h4 class="text-center">Sorry! No matches to your search!</h4>
        {% else %}
        {% for movie in movies %}
        <div class="col-md-6 col-6 col-lg-3">
            <div class="card text-center">
                <a href="{% url 'movie_detail' movie.slug %}">
                    {% if "placeholder" in movie.image.url %}
                    <img src="https://via.placeholder.com/800.png?text=Movie+Awaiting+Image" alt="{{ movie.name }}" class="movie-img">
                    {% else %}
                    <img src="{{ movie.image.url }}" alt="{{ movie.name }}" class="movie-img">
                    {% endif %}
                </a>
                <h4 class="text-center">{{ movie.name }}</h4>
                </p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <!-- Pagination (from CI django blog tutorial) -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center pb-3">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}