{% extends "base.html" %}

{% block content %}
<!-- Display messages (from CI django blog walkthrough)-->
<div class="row justify-content-center text-center pt-3">
    <div class="col-md-4">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissable bg-light fade show" id="msg" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container-fluid">
    <!-- Top Rated Movie Overall -->
    <div class="row">
        {% for movie in movies.top_movie %}
        <div class="col-12 text-center pt-3" id="top-movie">
            <a href="{% url 'movie_detail' movie.slug %}">
                {% if "placeholder" in movie.image.url %}
                <img src="https://via.placeholder.com/800.png?text=Movie+Awaiting+Image" alt="{{ movie.name }}"
                    class="movie-img">
                {% else %}
                <img src="{{ movie.image.url }}" alt="{{ movie.name }}" class="top-movie-img">
                {% endif %}
            </a>
        </div>
        <div class="col-12 text-center pt-3">
            <h1 class="fw-bold">Top Rated Movie: {{ movie.name }} </h1>
            <h2 class="fw-semibold">Rating: {{ movie.average_stars }} <i class="fa-solid fa-star star-rating"></i></h2>
        </div>
        {% endfor %}
    </div>
    <!-- Recommended Movies -->
    {% if user.is_authenticated %}
    <div class="row">
        <h3 class="fw-semibold">Recommended Movies</h3>
        <div class="col-md-6 col-6 col-lg-3">

        </div>
    </div>
    {% endif %}
    <!-- Highest Rated Movies -->
    <div class="row">
        <h3 class="fw-semibold">Highest Rated</h3>
        {% for movie in movies.top_rated %}
        <div class="col-md-6 col-6 col-lg-3">
            <div class="card text-center">
                <a href="{% url 'movie_detail' movie.slug %}">
                    {% if "placeholder" in movie.image.url %}
                    <img src="https://via.placeholder.com/800.png?text=Movie+Awaiting+Image" alt="{{ movie.name }}"
                        class="movie-img">
                    {% else %}
                    <img src="{{ movie.image.url }}" alt="{{ movie.name }}" class="movie-img">
                    {% endif %}
                </a>
                <h4 class="text-center">{{ movie.name }}</h4>
                <p class="text-center">{{ movie.average_stars }} <i class="fa-solid fa-star star-rating"></i>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Latest Movies -->
    <div class="row">
        <h3 class="fw-semibold">Latest Releases</h3>
        {% for movie in movies.new_release %}
        <div class="col-md-6 col-6 col-lg-3">
            <div class="card text-center">
                <a href="{% url 'movie_detail' movie.slug %}">
                    {% if "placeholder" in movie.image.url %}
                    <img src="https://via.placeholder.com/800.png?text=Movie+Awaiting+Image" alt="{{ movie.name }}"
                        class="movie-img">
                    {% else %}
                    <img src="{{ movie.image.url }}" alt="{{ movie.name }}" class="movie-img">
                    {% endif %}
                </a>
                <h4 class="text-center">{{ movie.name }}</h4>
                <p class="text-center">{{ movie.release_date }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Newest Reviews -->
    <div class="row">
        <h3 class="fw-semibold">Latest Reviews</h3>
        <div class="col-12">
            {% for movie in movies.new_review %}
            <ul>
                <li>{{ movie.movie }}: {{ movie.rating }} <i class="fa-solid fa-star star-rating"></i> - by
                    {{ movie.author }}, {{ movie.created_on }}</li>
            </ul>
            {% endfor %}
        </div>
    </div>
    <!-- All Movies Button -->
    <div class="row pb-3">
        <div class="col-12 text-center">
            <a href="{% url 'all-movies' %}">
                <button type="button" class="btn btn-dark btn-lg">All Movies</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}
