{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
ReviewVie - Add Movie
{% endblock %}

{% block content %}

<div class="container-fluid">
    <!-- Add Movie heading -->
    <div class="row">
        <div class="col-12 text-center pt-3">
            <h1 class="fw-bold">Add Movie</h1>
            <h4 class="fw-semibold">Fill out the form below and submit to request a new movie be added.</h4>
        </div>
    </div>
    <!-- Add Movie Form -->
    <div class="row">
        <div class="col-12 pb-3">
            <form action="" method="post" class="text-center">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success mt-2">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}