{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
ReviewVie - {{ movie.name }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Edit and Delete buttons only viewable by superuser-->
    {% if request.user.is_superuser %}
    <div class="row justify-content-center pt-3">
        <a href="{% url 'update_movie' movie.slug %}" class="movie-btn btn btn-warning me-1" role="button"
            aria-label="Go to Movie edit page">Edit</a>
        <a href="{% url 'delete_movie' movie.slug %}" class="ms-1 btn btn-danger movie-btn" role="button"
            aria-label="Go to Movie delete page">Delete</a>
    </div>
    {% endif %}
    <!-- Movie image, name and rating -->
    <div class="row">
        <div class="col-12 text-center pt-3" id="top-movie">
            {% if "placeholder" in movie.image.url %}
            <img src="https://via.placeholder.com/800.png?text=Movie+Awaiting+Image" alt="{{ movie.name }}"
                class="top-movie-img">
            {% else %}
            <img src="{{ movie.image.url }}" alt="{{ movie.name }}" class="top-movie-img">
            {% endif %}
        </div>
        <div class="col-12 text-center pt-3">
            <h1 class="fw-bold">{{ movie.name }} </h1>
            {% with reviews.count as total_reviews %}
            <h2 class="fw-semibold">Average Rating: {{ movie.average_stars }} <i
                    class="fa-solid fa-star star-rating"></i> ({{ total_reviews }})</h2>
            {% endwith %}
        </div>
    </div>
    <!-- Movie information -->
    <div class="row pb-2">
        <div class="col-md-4 movie-details">
            <h4 class="text-center fw-bold">Movie Information</h4>
            <hr>
            <p><span class="fw-semibold">Genre:</span> {{ movie.genre }}</p>
            <p><span class="fw-semibold">Release Date:</span> {{ movie.release_date }}</p>
            <p><span class="fw-semibold">Directed by:</span> {{ movie.director }}</p>
            <p><span class="fw-semibold">Age Rating:</span> {{ movie.age_rating }}</p>
        </div>
        <div class="col-md-8 movie-details">
            <h4 class="text-center fw-bold">Summary</h4>
            <hr>
            <p>{{ movie.summary | safe }}</p>
        </div>
    </div>
    <!-- Add Review section -->
    {% if user.is_authenticated %}
    <div class="row">
        <h4 class="text-center fw-semibold">Leave a Review</h4>
        <div class="col-12 pb-3">
            <h5>Reviewing as: <strong>{{ user.username }}</strong></h3>
                <form action="" method="post" class="text-center">
                    {{ review_form | crispy }}
                    {% csrf_token%}
                    <button type="submit" class="btn btn-dark mt-2">Submit</button>
                </form>
        </div>
    </div>
    {% endif %}
    <!-- All Reviews for movie -->
    <div class="row">
        <h4 class="text-center fw-semibold">Reviews</h4>
        {% if reviews.count == 0 %}
        <h5 class="text-center fw-semibold">No Reviews Yet!</h5>
        {% else %}
        <div class="col-12">
            {% for review in reviews %}
            <div class="card pb-3">
                <div class="card-body review">
                    <div class="row review-headers">
                        <h5 class="col-md-2 col-6 fw-semibold">{{ review.author }}</h5>
                        <h5 class="col-md-2 col-6">Rating: {{ review.rating }} <i
                                class="fa-solid fa-star star-rating"></i></h5>
                        <h5 class="col-md-2 col-6">Created: {{ review.created_on }}</h5>
                        <h5 class="col-md-2 col-6">Edited: {{ review.edited_on }}</h5>
                        {% if request.user == review.author or request.user.is_superuser %}
                        <h5 class="col-md-2 col-6"><a href="{% url 'update_review' review.id %}">Edit</a></h5>
                        <h5 class="col-md-2 col-6"><a href="{% url 'delete_review' review.id %}">Delete</a></h5>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            {{ review.review_content | safe | linebreaks }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}