/* Navbar */

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    font-weight: 600;
  }

/* Footer */

footer {
    color: #fff;
    text-align: center;
    height: 3em;
    padding: 0.5em 0;
}

.media-icons {
    list-style-type: none;
}

.media-icons li {
    display: inline;
    padding: 0px 20px;
}

.media-icons a {
    color: #fff;
}

.media-icons a:hover {
    color: lightgray;
}