body {
    background-color: rgba(0, 0, 0, 0.9) !important;
    background-image: 
    radial-gradient(circle at center center, transparent,rgb(33,33,33)),
    repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 2px,transparent 2px, transparent 10px,rgb(33,33,33) 10px, rgb(33,33,33) 11px,transparent 11px, transparent 21px),
    repeating-linear-gradient(45deg, rgb(47,47,47) 0px, rgb(47,47,47) 4px,transparent 4px, transparent 8px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
    background-repeat: no-repeat;
    padding-top: 50px;
}

/* Main site content wrapper */

#content-wrapper {
    background-color: rgb(130, 147, 153);
    max-width: 1300px;
}

/* Navbar */

.logo {
    letter-spacing: 1.5px;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    font-weight: 600;
  }

/* Footer */

footer {
    color: #fff;
    text-align: center;
    height: 3em;
    padding: 0.5em 0;
}

.media-icons {
    list-style-type: none;
}

.media-icons li {
    display: inline;
    padding: 0px 20px;
}

.media-icons a {
    color: #fff;
}

.media-icons a:hover {
    color: lightgray;
}

/* Home page Styles */

.top-movie {
    object-fit: cover;
    max-width: 60%;
}