{% extends 'base.html' %}

{% block title %}
500 - Something went wrong...
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center pt-3">
            <h1 class="fw-bold">500</h1>
            <h2 class="fw-semibold">Looks like something went wrong...</h2>
            <h3 class="fw-semibold mt-3">Try refreshing the page or <a href="{% url 'home' %}">click here</a> to go back
                home.</h3>
        </div>
    </div>
</div>
{% endblock %}