{% load_static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Movie review and recommendation website">
    <meta name="keywords" content="Movies, Movie reviews, Top movies, What to watch, Audience reviews, Movie recommendations">
    <title>Welcome to ReviewVie!</title>
</head>
<body>
    
</body>
</html>